

document.addEventListener("DOMContentLoaded",function(){
	this.forms[0].addEventListener("change",e => {
		e.target.removeAttribute("class");
	});
});


/* ==========================================================> Animations */

@keyframes dim {
	from, 83% {
		color: red;
	}
	to {
		color: greenyellow;
	}
}

@keyframes brighten {
	from {
		color: greenyellow;
	}
	17%, to {
		color: red;
	}
}

@keyframes unstrike {
	from {
		background: greenyellow;
		border-radius: 0;
		box-shadow: 0 0 0 1px greenyellow inset;
		transform: translateX(2.25em) scale(1,0.05);
		width: calc(100% - 2.25em);
	}
	14% {
		background: red;
		border-radius: 0;
		box-shadow: 0 0 0 1px red inset;
		transform: translateX(2.25em) scale(1,0.05);
		width: calc(100% - 2.25em);
	}
	29% {
		background: red;
		border-radius: 0;
		box-shadow: 0 0 0 1px red inset;
		transform: translateX(2.75em) scale(1,0.05);
		width: calc(100% - 2.25em);
	}
	43% {
		background: red;
		border-radius: 0;
		box-shadow: 0 0 0 1px red inset;
		transform: translateX(-0.5em) scale(0.75,0.05);
		width: 1.5em;
	}
	57% {
		background: red;
		border-radius: 0;
		box-shadow: 0 0 0 1px red inset;
		transform: translateX(0) scale(1,0.05);
		width: 1.5em;
	}
	71% {
		background: red;
		border-radius: 0.2em;
		box-shadow: 0 0 0 1px red inset;
		transform: translateX(0) scale(1,1.25);
		width: 1.5em;
	}
	86% {
		background: red;
		border-radius: 0.2em;
		box-shadow: 0 0 0 1px red inset;
		transform: translateX(0) scale(1,1);
		width: 1.5em;
	}
	to {
		background: orange;
		border-radius: 0.2em;
		box-shadow: 0 0 0 1px purple inset;
		transform: translateX(0) scale(1,1);
		width: 1.5em;
	}
}

@keyframes strike {
	from {
		background: orange;
		border-radius: 0.2em;
		box-shadow: 0 0 0 1px purple inset;
		transform: translateX(0) scale(1,1);
		width: 1.5em;
	}
	17% {
		background: red;
		border-radius: 0.2em;
		box-shadow: 0 0 0 1px red inset;
		transform: translateX(0) scale(1,1);
		width: 1.5em;
	}
	33% {
		background: red;
		border-radius: 0;
		box-shadow: 0 0 0 1px red inset;
		transform: translateX(0) scale(1,0.05);
		width: 1.5em;
	}
	50% {
		background: red;
		border-radius: 0;
		box-shadow: 0 0 0 1px red inset;
		transform: translateX(-0.5em) scale(1,0.05);
		width: 1.5em;
	}
	67% {
		background: red;
		border-radius: 0;
		box-shadow: 0 0 0 1px red inset;
		transform: translateX(2.25em) scale(1.25,0.05);
		width: calc(100% - 2.25em);
	}
	83% {
		background: red;
		border-radius: 0;
		box-shadow: 0 0 0 1px red inset;
		transform: translateX(2.25em) scale(1,0.05);
		width: calc(100% - 2.25em);
	}
	to {
		background: greenyellow;
		border-radius: 0;
		box-shadow: 0 0 0 1px greenyellow inset;
		transform: translateX(2.25em) scale(1,0.05);
		width: calc(100% - 2.25em);
	}
}

















input[type=checkbox] {
	animation: brighten crimson linear;
}
input[type=checkbox]:before {
	animation: unstrike var(--dur) linear;
	content: "";
	transform-origin: 0 50%;
	z-index: 1;
}

styles.css
input[type=checkbox]:focus {
	outline: transparent;
}
input[type=checkbox]:focus {
	text-decoration: underline;
}
input[type=checkbox]:checked {
	animation-name: dim;
	color: var(--fgDim);
}
input[type=checkbox]:checked:before {
	animation-name: strike;
	background: var(--fgDim);
	border-radius: 0;
	box-shadow: 0 0 0 1px var(--fgDim) inset;
	transform: translateX(2.25em) scale(1,0.05);
	width: calc(100% - 2.25em);
}